USE [master]
GO
/****** Object:  Database [PTT_CRM]    Script Date: 7.04.2023 10:59:39 ******/
CREATE DATABASE [PTT_CRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PTT_CRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PTT_CRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PTT_CRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PTT_CRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PTT_CRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PTT_CRM]
GO
/****** Object:  Table [dbo].[Birim]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birim](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BirimId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cevap]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cevap](
	[Id] [uniqueidentifier] NOT NULL,
	[MesajId] [uniqueidentifier] NOT NULL,
	[Cevap] [nvarchar](4000) NOT NULL,
	[BirimId] [smallint] NOT NULL,
	[PersonelId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Cevap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HizmetTip]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HizmetTip](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HizmetTipId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HizmetTipAlt]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HizmetTipAlt](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[HizmetTipId] [smallint] NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HizmetTipAltId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[EPosta] [varchar](50) NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurum]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurum](
	[Id] [int] NOT NULL,
	[VergiNo] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[Adres] [nvarchar](500) NOT NULL,
	[SehirId] [smallint] NOT NULL,
 CONSTRAINT [PK_Kurum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesaj]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesaj](
	[Id] [uniqueidentifier] NOT NULL,
	[MusteriId] [int] NOT NULL,
	[KurumId] [int] NULL,
	[MesajTurId] [smallint] NOT NULL,
	[HizmetTipId] [smallint] NOT NULL,
	[HizmetTipAltId] [smallint] NULL,
	[Mesaj] [nvarchar](1900) NOT NULL,
	[IpAdress] [nchar](10) NULL,
	[MesajDurumId] [smallint] NOT NULL,
	[OlusturmaTarih] [datetime] NULL,
 CONSTRAINT [PK_Mesaj] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MesajDurum]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesajDurum](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MesajDurumId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MesajTur]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesajTur](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MesajTur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KimlikTurId] [smallint] NOT NULL,
	[KimlikNo] [varchar](50) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[EPosta] [varchar](50) NOT NULL,
	[GSM] [char](10) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehir]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehir](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SehirId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surec]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surec](
	[Id] [uniqueidentifier] NOT NULL,
	[MesajId] [uniqueidentifier] NOT NULL,
	[SurecDurumId] [smallint] NOT NULL,
	[BirimId] [smallint] NULL,
	[PersonelId] [smallint] NULL,
	[Not] [nvarchar](4000) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Surec] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurecDurum]    Script Date: 7.04.2023 10:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurecDurum](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SurecDurumId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([Id], [KullaniciAdi], [Ad], [Soyad], [EPosta]) VALUES (1, N'mcavdar', N'Mustafa', N'Çavdaroğlu', N'mcavdar89@gmail.com')
INSERT [dbo].[Kullanici] ([Id], [KullaniciAdi], [Ad], [Soyad], [EPosta]) VALUES (2, N'acak', N'Asiye', N'Çak', N'asiye.cak@ptt.gov.tr')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([Id], [KimlikTurId], [KimlikNo], [Ad], [Soyad], [EPosta], [GSM]) VALUES (1, 1, N'111', N'Mustafa', N'Çavdaroğlu', N'mcavdar89@gmail.com', N'5412650155')
INSERT [dbo].[Musteri] ([Id], [KimlikTurId], [KimlikNo], [Ad], [Soyad], [EPosta], [GSM]) VALUES (2, 1, N'122', N'Reyhan', N'Martı', N'reyhan.marti@ptt.gov.tr', N'2324      ')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
ALTER TABLE [dbo].[Cevap]  WITH CHECK ADD  CONSTRAINT [FK_Cevap_Birim_BirimId] FOREIGN KEY([BirimId])
REFERENCES [dbo].[Birim] ([Id])
GO
ALTER TABLE [dbo].[Cevap] CHECK CONSTRAINT [FK_Cevap_Birim_BirimId]
GO
ALTER TABLE [dbo].[HizmetTipAlt]  WITH CHECK ADD  CONSTRAINT [FK_HizmetTipAlt_HizmetTip_HizmetTipId] FOREIGN KEY([HizmetTipId])
REFERENCES [dbo].[HizmetTip] ([Id])
GO
ALTER TABLE [dbo].[HizmetTipAlt] CHECK CONSTRAINT [FK_HizmetTipAlt_HizmetTip_HizmetTipId]
GO
ALTER TABLE [dbo].[Kurum]  WITH CHECK ADD  CONSTRAINT [FK_Kurum_Sehir_SehirId] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehir] ([Id])
GO
ALTER TABLE [dbo].[Kurum] CHECK CONSTRAINT [FK_Kurum_Sehir_SehirId]
GO
ALTER TABLE [dbo].[Mesaj]  WITH CHECK ADD  CONSTRAINT [FK_Mesaj_HizmetTipAlt_HizmetTipAltId] FOREIGN KEY([HizmetTipAltId])
REFERENCES [dbo].[HizmetTipAlt] ([Id])
GO
ALTER TABLE [dbo].[Mesaj] CHECK CONSTRAINT [FK_Mesaj_HizmetTipAlt_HizmetTipAltId]
GO
ALTER TABLE [dbo].[Surec]  WITH CHECK ADD  CONSTRAINT [FK_Surec_Birim_BirimId] FOREIGN KEY([BirimId])
REFERENCES [dbo].[Birim] ([Id])
GO
ALTER TABLE [dbo].[Surec] CHECK CONSTRAINT [FK_Surec_Birim_BirimId]
GO
ALTER TABLE [dbo].[Surec]  WITH CHECK ADD  CONSTRAINT [FK_Surec_Mesaj_MesajId] FOREIGN KEY([MesajId])
REFERENCES [dbo].[Mesaj] ([Id])
GO
ALTER TABLE [dbo].[Surec] CHECK CONSTRAINT [FK_Surec_Mesaj_MesajId]
GO
ALTER TABLE [dbo].[Surec]  WITH CHECK ADD  CONSTRAINT [FK_Surec_SurecDurum_SurecDurumId] FOREIGN KEY([SurecDurumId])
REFERENCES [dbo].[SurecDurum] ([Id])
GO
ALTER TABLE [dbo].[Surec] CHECK CONSTRAINT [FK_Surec_SurecDurum_SurecDurumId]
GO
USE [master]
GO
